.head {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
    grid-auto-rows: minmax(100px, auto);


    .photo {
    background-image: url('/photo.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    }

    .me {
        padding: 20px;

        footer {
            color: #5C5C5C;
        }
    }

    div {
        background-color: #F0F0F0;
        border-radius: 10px;
    }

    .vertical-scale {
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        min-width: 0;
    }

    .scale-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        min-width: 0;
    }

    .scale-label {
        flex: 0 0 80px;
        margin-right: 10px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .scale-bar-container {
        flex: 1;
        min-width: 0;
        height: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
        overflow: hidden;
    }

    .scale-bar {
        height: 100%;
        background-color: #28D979;
        border-radius: 5px;
        transition: width 0.5s ease;
    }
}